* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to right, #f8fafc, #f8fafc);
  position: sticky;
  top: 0;
  padding: 8px 0px;
  border-bottom: 1px solid grey;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.links a {
  text-decoration: none;
  color: black;
}

/* .links a:hover {
  border-bottom: 1px solid black;
} */

.links .sign-in {
  height: 54px;
  width: 120px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 16px;
  font-weight: 800;
  border-radius: 16px;
  border: none;
}

.new {
  width: 149px;
  height: 54px;
  border-radius: 16px;
  border: 1px solid black;
  background-color: transparent;
  font-size: 16px;
  font-weight: 800;
  margin: 10px;
}

.links .get-the-app {
  width: 149px;
  height: 54px;
  border-radius: 16px;
  border: 1px solid black;
  background-color: transparent;
  font-size: 16px;
  font-weight: 800;
}

button {
  cursor: pointer;
}

/* Body */
.body-container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}
.body-container > img {
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bd-h1 {
  font-size: 52px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 32px;
}

.delivery {
  height: 56px;
  width: 500px;
  border: none;
  border-radius: 28px;
  outline: none;
  font-size: 16px;
  padding: 0 30px;
}

.main-body-container {
  width: 100%;
}

/* **************************** Card Container ********************************** EP04*/
/* .card-container {
  border-radius: 25px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 11px;
}

.card-container:hover {
  border: 1px solid black;
  transition: 1s linear;
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 25px;
}

.image-container > img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.text-container {
  padding: 5px;
  font-family: cursive !important;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pre-book {
  background: rgb(27, 166, 114);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 14px;
  height: 36px;
  border-radius: 8px;
  gap: 10px;
}

.percent {
  display: flex;
  align-items: center;
  gap: 3px;
}

.percent > img {
  width: 20px;
}
.percent > div {
  font-weight: 700;
  color: white;
}

.offers {
  font-size: 12px;
  color: white;
  font-weight: 700;
} */

/* ***************************** Card Container ************************************** */
/* card component **********************************************************************/
.Cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  margin: 50px 50px;
}

.card-container {
  width: 260px;
  padding: 5px;
  border-radius: 25px;
  min-height: 350px;
  /* height: 460px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
  overflow: hidden;
}
.card-container:hover {
  /* border: 1px solid black; */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s linear;
}
.card-container > img {
  width: 100%;
  height: 180px;
  /* border-radius: 25px; */
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.res-card-name {
  /* font-weight: 700; */
  font-size: 19px;
  color: rgb(38, 37, 37);
  margin-bottom: 8px;
}

.text-container {
  padding: 10px 10px;
}

.text-container p {
  padding: 6px;
}

.offer {
  width: 100%;
  height: 30px;
  background-color: rgb(239, 139, 18);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  /* padding: 8px 4px; */
  margin: 10px 0;
}

.offer a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.offer:hover {
  background-color: black;
  transition: 0.5s linear;
}
/* Card Component ******************************************************888*/

/* Footer */
.footer-container {
  display: flex;
  margin-top: 50px;
  background-color: aliceblue;
  justify-content: center;
  gap: 60px;
  padding: 80px;
}

.foo-links {
  list-style-type: none;
  line-height: 2.5rem;
}

.media-links {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.cuisine {
  background-color: aliceblue;
  font-weight: 700;
  border-radius: 25px;
  padding: 8px !important;
}

/* Shimmer Component */
.shimmer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  margin: 50px 0;
}
.shimmer-card {
  width: 250px;
  padding: 5px;
  border-radius: 25px;
  min-height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
}

/* Filter Buttons */
.filter-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.common {
  padding: 8px 8px;
  height: 32px;
  border: 1px solid rgba(2, 6, 12, 0.15);
  color: rgba(2, 6, 12, 0.75);
  background: transparent;
  border-radius: 1rem;
  font-size: 14px;
  font-weight: 600;
}
.background-section {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/1126728/pexels-photo-1126728.jpeg");
  background-repeat: no-repeat;
  /* background-position: center center; */
}

.search-container {
  display: flex;
  justify-content: center;
  height: 50px;
  /* background-color: red; */
}

#input-search {
  width: 25%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 25px;
  /* text-align: center; */
  font-size: 16px;
  padding: 0 16px;
  color: gray;
}

#input-search::placeholder {
  font-size: 14px;
}

.search-icon {
  background-color: transparent;
  border: none;
  position: relative;
  right: 32px;
  display: flex;
  align-items: center;
}

/* Box */
.box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 20px;
  /* background-color: antiquewhite; */
  border-radius: 25px;
  flex-wrap: wrap;
  /* gap: 10px; */
}
.box {
  width: 330px;
  height: 220px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
}

.box-1 {
  background-image: url("https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg");
  background-size: cover;
}
.box-2 {
  background-image: url("https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg");
  background-size: cover;
}
.box-3 {
  background-image: url("https://images.pexels.com/photos/1117862/pexels-photo-1117862.jpeg");
  background-size: cover;
}
.box-4 {
  background-image: url("https://images.pexels.com/photos/920220/pexels-photo-920220.jpeg");
  background-size: cover;
}
.box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s linear;
}

.filter-btn {
  height: 54px;
  background-color: black;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 800;
  border-radius: 16px;
}
.restaurant {
  background-color: aliceblue;
  display: inline-block;
  padding: 20px;
  margin: 20px 50px;
  border-radius: 16px;
}
.res-info-container {
  /* border: 1px solid rgba(2, 6, 12, 0.15); */
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 50px;
  max-width: 450px;
  padding: 32px 20px 20px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 2px 2px hsl(220deg 60% 50% / 0.1),
    2px 4px 4px hsl(220deg 60% 50% / 0.1), 4px 8px 8px hsl(220deg 60% 50% / 0.2),
    8px 16px 16px hsl(220deg 60% 50% / 0.1),
    16px 32px 32px hsl(220deg 60% 50% / 0.1);
}
.rating {
  display: flex;
  align-items: center;
  gap: 8px;
}
.rating,
.cuisines {
  padding: 8px;
  font-weight: 700;
}
.location {
  padding: 8px;
}
.cuisines {
  font-size: 14px;
}
.status {
  color: green;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 8px;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 16px;
}
.info p {
  font-weight: 700;
  color: rgb(255, 82, 0);
  cursor: pointer;
}
.reach {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.tile {
  width: 2px;
  background-color: lightgray;
  height: 20px;
}
.restro-image img {
  width: 100%;
  height: 250px;
  border-radius: 16px;
}

a {
  text-decoration: none;
  color: #000;
}
.card-rating {
  display: flex;
  align-items: center;
}
/* Media Queries */
